@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@200;300&display=swap');

.panel{
    text-align: center;

    width:100%;
}
.menu{
    font-size: max(2vw, 20px);
    text-align: center;
}
.elem1{
    width: 80px;
}
.elem2{
    margin-left: 20% ;
    width: 80px;
}
.elem3{
    margin-left: 20% ;
    width: 80px;
}
.allWindow{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
   height: 100vh;
}
.table {
    margin-left: 30%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.table__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: 30px;
}
.header {
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: 30px;
}
.table__cell {
    border: 1px solid #999;
    width: 200px;
}
.table__rowPicked {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: 30px;
    background-color: aquamarine;
}
.pickedUsers{
    text-align: center;
}
